
<h1>OLÁ! Welcome to DayStore</h1>

<div>@Html.ActionLink(linkText: "Lista de Produtos ", actionName: "GetProducts", controllerName: "Main")</div>
</br>
<div>@Html.ActionLink(linkText: "Lista de Deposito", actionName: "GetDeposito", controllerName: "Deposito")</div>